<!-- blog/templates/view_post.html-->
{% extends 'blog_layout.html' %}
{% load bootstrap3 %}
  {% block page_title %}글 보기{% endblock %}
  {% block content %}
    <div class="post-container">
      <h3>{{ post.title }}</h3>
      <div class="post-content">
        {{ post.content }}.
      </div>
      <div>
        <p> 글 갈래 : {{ post.category.name }}</p>
        <p> 작성 일시: {{ post.created_at }}</p>
      </div>
    </div>
    <div class="comment_container">
      {% for comment in post.comment_set.all %}
      <div class="comment_info">{{ comment.pk }} {{ comment.user}} </div>
      <div class="comment_content">{{ comment.content }}</div>
      {% empty %}
      <p>댓글 없음 </p>
      {% endfor %}
    </div>
  {% endblock %}
